<head>
    <script src='bower_components/angular/angular.js'></script>
</head>

<body ng-app=FeedingTracker ng-controller="FeedingController">
    <h1>
        Feeding Tracker
    </h1>
    <div>
        <p>Total Amount: {{totalAmount}}</p>
        <p>Average time between feedings: {{averageInterval | number:2}} hours</p>
        <p>Meds given: {{medsGiven}}</p>
    </div>

    <div >
        <span>
               Amount (ml):<input type=number ng-model='feedingEntry.amount'>
        </span>

        <span>
               Time:<input required type=time placeholder="HH:mm:ss" ng-model='feedingEntry.time'>
        </span>
        <span>
               Type:
                <select required ng-model='feedingEntry.type'>
                    <option value='Bottle'>Bottle</option>
                    <option value='Breast'>Breast</option>
                </select>
        </span>
        <span>
            Meds:
            <select required ng-model='feedingEntry.meds'>
                <option value='0'>None</option>
                <option value='.5'>Half</option>
                <option value='1'>Full</option>
            </select>
        </span>
        <span>
               Person:<input type=text ng-model='feedingEntry.person'>
        </span>

        <button ng-click='addFeeding()'>Add Feeding</button>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Meds</th>
                    <th>Person</th>
                </tr>
            </thead>
            <tr ng-repeat='feeding in feedings | orderBy:"time"'>
                <td>
                    {{feeding.amount}}
                </td>
                <td>
                    {{feeding.time | date: "h:mm a"}}
                </td>
                <td>
                    {{feeding.type}}
                </td>
                <td>
                    {{feeding.meds}}
                </td>
                <td>
                    {{feeding.person}}
                </td>

            </tr>
        </table>
    </div>
    </div>
    <script src='main.js'></script>

    <script src='services/feedingService.js'></script>
    <script src='controllers/feedingController.js'></script>
</body>
